<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{url_for ('static', filename = './img/bot.png')}}">
    <title>AKAZA</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid container">
        <a class="navbar-brand" href="/">
          <img src="{{url_for ('static', filename = './img/bot.png')}}" alt="" width="50" height="50" class="rounded-circle"> &nbsp; <span>Akaza</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/commands">Commands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Staff</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="linksdrop" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Links
              </a>
              <ul class="dropdown-menu bgn" aria-labelledby="linksdrop">
                <li><a class="dropdown-item text-muted font-weight-bold" href="https://discord.com/api/oauth2/authorize?client_id=933860473068195900&permissions=8&scope=bot" target="_blank">Invite
                    Bot</a>
                </li>
                <li><a class="dropdown-item text-muted font-weight-bold" href="https://discord.gg/PatBCfNs5D" target="_blank">Support
                    Server</a></li>
                <li><a class="dropdown-item text-muted font-weight-bold" href="/faq">FAQ</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-muted font-weight-bold" href="https://github.com/kingdevag/AkazaDBot"
                    target="_blank">Github Oficial</a></li>
                <li><a class="dropdown-item text-muted font-weight-bold" href="https://discordpy.readthedocs.io/en/stable/">Ver Documentacion</a></li>
              </ul>
            </li>
          </ul>
          <div class="d-flex ml-auto" id="headerlogin">
            <li class="nav-item" style="list-style: none;">
              <a class="nav-link btn btn-outline-secondary login" href={{oauth_uri}}>Login</a>
            </li>
          </div>
        </div>
      </div>
    </nav>
    </div>

    <div class="jumbotron text-center bg-transparent">
        <h1 class="commandstitle">Commands</h1>
        <p class="lead commandssub">Ver los comandos para Akaza.</p>
        <hr>
        <input id="myInput" type="text" class="searchbox" placeholder="Search">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="border"></div>
        <br>
        <br>
        <br>
        <div id="myCmd">
            <br>
            <button type="button" class="collapsible">setprefix<span> - Cambia o establece un Prefijo para el Bot</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: aqua;">Administracion</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!setprefix</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!setprefix !</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">setwellcome<span> - Cambia o establece un Canal de bienvenidas</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: aqua;">Administracion</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!setwellcome</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!setwellcome #bienvenida</p>
                <p>!setwellcome #general</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">help<span> - Ve informacion o la lista de comandos</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: rgb(19, 182, 160);">General</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!help</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!help setprefix</p>
                <p>!help</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">invite<span> - Crea un invitacion del bot</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: rgb(19, 182, 160);">Otros</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!help</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!invite</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">info<span> - Ve informacion sobre el Servidor o el Bot</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: rgb(19, 182, 160);">General</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!info</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!info</p>
                <p>!info server</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">userinfo<span> - Ve informacion sobre algun Usuario</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: rgb(19, 182, 160);">General</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!userinfo</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!info</p>
                <p>!info @♞!i~𝞚ℝⱮ𝞓𝞟🅓𝞨;..♟#7094</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">name_edit<span> - Cambia el nombre a tus amigos</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: orange;">Diversion</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!name_edit</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!name_edit</p>
                <p>!name_edit @♞!i~𝞚ℝⱮ𝞓𝞟🅓𝞨;..♟#7094 Hola</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">secret<span> - puedes mandar un mensaje sin que nadie sepa que fuiste tu</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: orange;">Diversion</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!secret</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!secret</p>
                <p>!secret Yo agrege a Akaza al sevidor :D</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">subs<span> - consulta los Subscriptores de algun Youtuber</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: red;">Redes</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!userinfo</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!info</p>
                <p>!info @♞!i~𝞚ℝⱮ𝞓𝞟🅓𝞨;..♟#7094</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">youtube<span> - Busca un video de Youtube</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: red;">Redes</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!youtube</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!youtube KingDEV</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">sumar<span> - Suma dos numeros como si fuera una calculadora</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: red;">Matematicas</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!sumar</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!sumar 8 14</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">restar<span> - Resta dos numeros como si fuera una calculadora</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: red;">Matematicas</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!restar</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!restar 22 14</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">multiplicar<span> - Multiplica dos numeros como si fuera una calculadora</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: red;">Matematicas</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!multiplicar</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!mul 8 22</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">dividir<span> - Divide dos numeros como si fuera una calculadora</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: red;">Matematicas</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!dividir</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!dividir 3 8</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">join<span> - Hace que le Bot entre a tu canal de Voz</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: purple;">Musica</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!join</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!join</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">leave<span> - Hace que le Bot se salga de tu canal de Voz</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: purple;">Musica</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!leave</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!leave</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">queue<span> - Verifica si hay canciones en la cola</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: purple;">Musica</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!queue</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!queue</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">play<span> - Reproduce una cancion</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: purple;">Musica</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!play</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!play https://www.youtube.com/watch?v=fTH71AAxXmM</p>
                <p>!play The White Stripes - Fell In Love With A Girl</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">skip<span> - Crea una votacion para saltar la cancion que se este reproduciendo</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: purple;">Musica</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!skip</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!play skip</p>
              <br>
              <br>
            <button type="button" class="collapsible">game<span> - Crea un juego de tres en raya</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: orange;">Diversion</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!game</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!game @♞!i~𝞚ℝⱮ𝞓𝞟🅓𝞨;..♟#7094 @Akaza#2694</p>
            </div>
            <br>
            <br>
            <button type="button" class="collapsible">lugar<span> - Agrega una marca en el juego de tres en raya que creaste con !game</span></button>
            <div class="content">
                <h4 style="color: rgb(169, 247, 247);">Categoria:</h4>
                <p style="color: orange;">Diversion</p>
                <h4 style="color: #cccccc;">Uso:</h4>
                <p>!game</p>
                <h4 style="color: #cccccc;">Ejemplos:</h4>
                <p>!lugar 4</p>
            </div>
            <br>
            </div>
        </div>
    </div>
    </div>

    <footer class="mastfoot mb-auto">
            <div class="container-fluid mb-auto">
                <div class="row d-flex justify-content-center">
                    <div class="">
                        <p style="font-size: 19px; padding: 0px; margin: 0px;"><a href="https://github.com/Hadi-Koubeissi"
                                style="text-decoration: none; color: white;">Hecho con 💖 by K1ngDev</a></br>Akaza ©
                                2022. Todos
                                Derechos reservados.</br>[<a href="/license"><b>Terminos de uso</b></a>]</p>
                    </div>
                </div>
            </div>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>